<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" id="bidForm" th:action="@{/bidList/validate}" th:object="${bid}" method="post" class="w-50">
			<!--
			TODO: Create a form to input the values of Bid, there are 2 buttons: Save data and Cancel to the list Bid
			 -->
			<div class="form-group">
				<label for="account">Account</label>
				<input type="text" name="account" id="account" th:field="*{account}"
					   class="form-control" maxlength="30" placeholder="Account">
				<small class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></small>
			</div>
			<div class="form-group">
				<label for="type">Type</label>
				<input type="text" name="type" id="type" th:field="*{type}"
					   class="form-control" maxlength="30" placeholder="Type">
				<small class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></small>
			</div>
			<div class="form-group">
				<label for="bidQuantity">Type</label>
				<input type="text" name="bidQuantity" id="bidQuantity" th:field="*{bidQuantity}"
					   class="form-control" placeholder="Bid quantity">
			</div>
			<div class="d-flex justify-content-center">
				<button class="btn btn-danger mr-3" id="cancel" type="button"
						th:onclick="|window.location.href='/bidList/list'|">
					<span>Cancel</span>
				</button>
				<button class="btn btn-primary" id="save" type="submit">
					<span>Add BidList</span>
				</button>
			</div>
		</form>
	</div>

</div>
</body>
</html>