<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/update/{id}(id=${bidList.bidListId})}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of Bid, there are 2 buttons: Update data and Cancel to the list Bid
			 -->

			<div class="form-group">
				<label for="account" class="col-sm-2 control-label">Account</label>
				<div class="col-sm-10">
					<input type="text" name="account" id="account" th:field="*{account}"
						   class="form-control col-4" placeholder="Account">
					<p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="type" class="col-sm-2 control-label">Type</label>
				<div class="col-sm-10">
					<input type="text" name="type" id="type" th:field="*{type}"
						   class="form-control col-4" placeholder="Type">
					<p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="bidQuantity" class="col-sm-2 control-label">Bid Quantity</label>
				<div class="col-sm-10">
					<input type="text" name="bidQuantity" id="bidQuantity" th:field="*{bidQuantity}"
						   class="form-control col-4" placeholder="Bid quantity">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-danger btn-sm" href="/bidList/list">Cancel</a>
					<input id="save" class="btn btn-primary btn-sm" type="submit" value="Update BidList">
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>